
# Python cache files
__pycache__
*.pyc
.pytest_cache

# Dataset files (generated at runtime)
datasets/*
*/datasets/*
venv/*
unsloth_compiled_cache/*
*/unsloth_compiled_cache/*
src/fine_tuning_framework.py
*/fine_tuned_model/*
*/test_training_output/*
fine_tuned_model/*
test_training_output/*
hf_token